<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Marcador de truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="container">
    <h1 class="atual-point ion-text-center">Valendo: 1</h1>
    <div class="itens">
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button color="dark" expand="block">1</ion-button></ion-col
          >
          <ion-col
            ><ion-button color="dark" expand="block">3</ion-button></ion-col
          >
          <ion-col
            ><ion-button color="dark" expand="block">6</ion-button></ion-col
          >
          <ion-col
            ><ion-button color="dark" expand="block">9</ion-button></ion-col
          >
          <ion-col
            ><ion-button color="dark" expand="block">12</ion-button></ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col><h1 class="ion-text-center point-time">TIME 1</h1></ion-col>
          <ion-col></ion-col>
          <ion-col><h1 class="ion-text-center point-time">TIME 2</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="dark" expand="block">+</ion-button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="dark" expand="block">+</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1 class="ion-text-center center-point">0</h1></ion-col>
          <ion-col></ion-col>
          <ion-col><h1 class="ion-text-center center-point">0</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button color="dark" expand="block">-</ion-button></ion-col
          >
          <ion-col></ion-col>
          <ion-col
            ><ion-button color="dark" expand="block">-</ion-button></ion-col
          >
        </ion-row>
      </ion-grid>
      <h1>PARTIDAS</h1>
      <ion-card>
        <ion-item>
          <ion-label>TIME 1</ion-label>
          <ion-chip slot="end">
            <ion-label>0</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>TIME 2</ion-label>
          <ion-chip slot="end">
            <ion-label>0</ion-label>
          </ion-chip>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col
          ><ion-button color="dark" expand="block">LIMPAR</ion-button></ion-col
        >
      </ion-row>
    </div>
  </div>
</ion-content>
